@font-face {
    font-family: "oranienbaum";
    src: url("../rrmy-v2/assets/styles/themes/fonts/oranienbaum/Oranienbaum-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

.oranienbaum {
    font-family: oranienbaum, sans-serif;
}