@font-face {
    font-family: "barlow";
    src: url("../rrmy-v2/assets/styles/themes/fonts/barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "barlow-light";
    src: url("../rrmy-v2/assets/styles/themes/fonts/barlow/Barlow-Light.ttf") format("truetype");
}

@font-face {
    font-family: "barlow-bold";
    src: url("../rrmy-v2/assets/styles/themes/fonts/barlow/Barlow-Bold.ttf") format("truetype");
}

.barlow {
    font-family: barlow, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.barlow-light {
    font-family: barlow-light, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.barlow-bold {
    font-family: barlow-bold, sans-serif;
    font-weight: normal;
    font-style: normal;
}