@font-face {
    font-family: "titling-gothic-fb-cond";
    src: url("../rrmy-v2/assets/styles/themes/fonts/titling-gothic-fb-cond/TitlingGothicFBCond-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "titling-gothic-fb-cond";
    src: url("../rrmy-v2/assets/styles/themes/fonts/titling-gothic-fb-cond/TitlingGothicFBCond-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

.titling-gothic-fb-cond {
    font-family: titling-gothic-fb-cond, sans-serif;
}