@font-face {
    font-family: "sweet-sans-pro";
    src: url("../rrmy-v2/assets/styles/themes/fonts/sweet-sans-pro/SourceSans3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "sweet-sans-pro-bold";
    src: url("../rrmy-v2/assets/styles/themes/fonts/sweet-sans-pro/SourceSans3-Bold.ttf") format("truetype");
}

.sweet-sans-pro {
    font-family: sweet-sans-pro, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.sweet-sans-pro-bold {
    font-family: sweet-sans-pro-bold, sans-serif;
    font-weight: normal;
    font-style: normal;
}