@font-face {
    font-family: "arnhem";
    src: url("../rrmy-v2/assets/styles/themes/fonts/arnhem/Arnhem.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "arnhem";
    src: url("../rrmy-v2/assets/styles/themes/fonts/arnhem/Arnhem-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

.arnhem {
    font-family: arnhem, sans-serif;
}