// your custom styles here
:root {
    --bs-warning-rgb: 186, 142, 63;
}

.offcanvas {
    --bs-offcanvas-zindex: 99999;
}

.fill-white {
    fill: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.carousel-desc-gallery {
    display: none;
}

.carousel-desc-gallery.flickity-enabled {
    display: block;
}

.carousel-desc {
    bottom: 0;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.post__content {
    p > a > img {
        margin-bottom: 2rem;
    }

    a {
        color: var(--bs-body-color);
    }

    a:hover {
        color: var(--bs-secondary) !important;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 2rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: calc(1.325rem + 0.9vw);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: oranienbaum;
    }

    img iframe,
    * img,
    * iframe {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    iframe,
    * iframe {
        aspect-ratio: 16 / 9;
    }

    .flickity-page-dots {
        .flickity-page-dot.is-selected {
            background: #BA8E3F;
            box-shadow: 0 0 10px 2px #BA8E3F;
        }
    }

    .flickity-page-dots:focus {
        box-shadow: inherit;
    }

    .flickity-prev-next-button {
        z-index: 999;
        background: transparent;
        bottom: -4rem;
        top: unset;
        transform: translateY(-20px);

        .flickity-button-icon {
            width: 50%;
            height: 50%;
            color: #BA8E3F;
        }
    }

    .next {
        right: 25% !important;
    }

    .previous {
        left: 25% !important;
    }

    p:has(iframe) {
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);

        @media (min-width: 768px) {
            margin-right: unset;
            margin-left: unset;
        }
    }

    .instagram-media {
        min-width: 100% !important;
    }
}

.wp-caption {
    width: 100% !important;
    height: auto !important;
}

.wp-caption-text {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
    font-family: 'mulish';
}

.article-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.bg-none {
    background-color: none;
}

.bg-black-blur {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.bg-blur {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.invert-color {
    filter: invert(100%);
    /* Inverts colors completely */
}

a.nav-link,
.navbar {
    transition: all .2s ease;
}

.sticky a.nav-link {
    font-size: 14px;
}

.sticky .navbar {
    --bs-navbar-padding-y: none;
}

a.hover-border {
    position: relative;
}

a.hover-border:hover:before {
    transform: scale(1);
}

a.hover-border::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background: black;
    transition: all 0.5s ease;
    transform: scale(0);
}

.size-full {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
}

.wp-post-image {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 1s ease;
}

.img-hover-zoom img:hover {
    transform: scale(1.1);
}

.gallery-item {
    width: 100% !important;
}

.bg-black,
.bg-dark {
    ::placeholder {
        /* Standard syntax */
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
    }

    a.hover-border::before {
        background: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
    }
}

.ls-0 {
    letter-spacing: 0;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.transition-color-hover {
    transition: color .3s ease;
}

/* Background Hover Utilities */
.bg-primary-hover:hover {
    background-color: var(--bs-primary) !important;
}

.bg-secondary-hover:hover {
    background-color: var(--bs-secondary) !important;
}

.bg-success-hover:hover {
    background-color: var(--bs-success) !important;
}

.bg-danger-hover:hover {
    background-color: var(--bs-danger) !important;
}

.bg-warning-hover:hover {
    background-color: var(--bs-warning) !important;
}

.bg-info-hover:hover {
    background-color: var(--bs-info) !important;
}

.bg-light-hover:hover {
    background-color: var(--bs-light) !important;
}

.bg-dark-hover:hover {
    background-color: var(--bs-dark) !important;
}

/* Text Hover Utilities */
.text-primary-hover:hover {
    color: var(--bs-primary) !important;
}

.text-secondary-hover:hover {
    color: var(--bs-secondary) !important;
}

.text-success-hover:hover {
    color: var(--bs-success) !important;
}

.text-danger-hover:hover {
    color: var(--bs-danger) !important;
}

.text-warning-hover:hover {
    color: var(--bs-warning) !important;
}

.text-info-hover:hover {
    color: var(--bs-info) !important;
}

.text-light-hover:hover {
    color: var(--bs-light) !important;
}

.text-dark-hover:hover {
    color: var(--bs-dark) !important;
}

.horizontal-line {
    z-index: 10;
    position: relative;
}

.horizontal-line::before {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.post__related-story svg {
    min-width: 15px;
    min-height: 15px;
}

.carousel-navigation-gallery .is-selected .article-title {
    color: var(--bs-dark) !important;
    font-weight: bold;
}

.carousel-navigation-gallery .is-selected .article-category {
    --bs-secondary-rgb: 186, 142, 63;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.most-popular-container .article-title {
    @media (min-width: 992px) {
        font-size: 1rem;
    }
}

.most-popular-container .article-writter {
    display: none;
}

.ratio-1x1 {
    aspect-ratio: 1 / 1;
}

.ratio-2x1 {
    aspect-ratio: 2 / 1;
}

.ratio-4x3 {
    aspect-ratio: 4 / 3;
}

.ratio-16x9 {
    aspect-ratio: 16 / 9;
}

@media (min-width: 768px) {
    .ratio-md-1x1 {
        aspect-ratio: 1 / 1;
    }

    .ratio-md-2x1 {
        aspect-ratio: 2 / 1;
    }

    .ratio-md-4x3 {
        aspect-ratio: 4 / 3;
    }

    .ratio-md-16x9 {
        aspect-ratio: 16 / 9;
    }
}

@media (min-width: 992px) {
    .ratio-lg-1x1 {
        aspect-ratio: 1 / 1;
    }

    .ratio-lg-2x1 {
        aspect-ratio: 2 / 1;
    }

    .ratio-lg-4x3 {
        aspect-ratio: 4 / 3;
    }

    .ratio-lg-16x9 {
        aspect-ratio: 16 / 9;
    }
}

.fs-small {
    font-size: .75rem !important;
}

#main-nav {
    z-index: 9999;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

/* Active after scroll */
.sticky-active {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .25);
    position: sticky;
    top: 0px;
    z-index: 1020;
}

/* Hide animation */
.sticky-hide {
    transform: translateY(-100%);
}

.search-popup,
.subsribe-popup {
    z-index: 1100;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.carousel-nav {
    min-height: 100px;

    .border-end {
        border-right: none !important;
    }

    @media (min-width: 576px) {
        min-height: 120px;

        .border-end {
            border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }
}

.footer {
    .border-end {
        border-right: none !important;
    }

    @media (min-width: 992px) {
        .border-end {
            border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }
}

#newsletter {
    .border-end {
        border-right: none !important;
    }
    
    @media (min-width: 768px) {
        .border-end {
            border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }
}

.flickity-button:focus {
    box-shadow: none;
}

.carousel-gallery {
    .flickity-button {
        background: transparent;
    }

    .flickity-prev-next-button {
        .flickity-button-icon {
            color: #BA8E3F;
        }
    }
}

body {
    padding-bottom: 0 !important;
}

.screen-reader-text {
    display: none;
}

.gallery {
    margin-bottom: 3rem;
}

.navigation.pagination {
    justify-content: center;

    .nav-links {
        font-family: oranienbaum, sans-serif;
        font-size: 1.5rem;
        display: flex;

        .page-numbers {
            text-decoration: none;
            text-decoration: none;
            padding-left: .5rem;
            padding-right: .5rem;
            --bs-text-opacity: 1;
            color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
        }

        .page-numbers.current {
            color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
        }

        .next, .prev {
            height: 100%;
            display: flex;
            align-items: center;
            transform: translateY(-1px);
        }
    }
}

.leaderboard:has(iframe) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.leaderboard-border-bottom:has(iframe) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.container:has(.post__thumbnail) {
    padding-right: 0;
    padding-left: 0;
}

.yotu-playlist {
    padding: 0 !important;
}

.yotu-playlist > div {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.yotu-playlist .yotu-wrapper-player, .yotu-playlist .yotu-videos, .yotu-playlist .yotu-pagination {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.yotu-playlist .yotu-pagination {
    .yotu-pagination-more {
        font-family: oranienbaum;
        border-radius: 0;
        border: none;
        font-size: calc(1.3rem + 0.6vw);
        box-shadow: none !important;
    }

    .yotu-pagination-more:hover {
        color: inherit;
        box-shadow: none !important;
    }

    .yotu-pagination-more::after {
        background-color: #fff;
    }
}

.yotu-playlist .yotu-pagination::before {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    content: "";
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    width: 100%;
    z-index: -1;
}

.yotu-playlist .yotu-videos {
    li {
        font-family: mulish;

        .yotu-video-title {
            font-size: var(--bs-body-font-size) !important;
            line-height: 1.5 !important;
            color: rgba(var(--bs-dark-rgb), 1) !important;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }

        a {
            display: flex;

            .yotu-video-thumb-wrp {
                width: 75%;
            }
        }
    }
}

@media (min-width: 768px) {
    .yotu-playlist .yotu-wrapper-player {
        flex: 0 0 auto;
        width: 50% !important;
        padding-right: 1rem;
    }

    .yotu-playlist .yotu-videos {
        flex: 0 0 auto;
        width: 50% !important;
        padding-top: 0 !important;
        padding-left: 1rem;
        height: 450px;
        overflow: auto;
    }

    .yotu-playlist .yotu-pagination {
        flex: 0 0 auto;
        width: 100% !important;
        padding-top: 2rem !important;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}

@keyframes l1 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }

    33% {
        background-size: 20% 10%, 20% 100%, 20% 100%
    }

    50% {
        background-size: 20% 100%, 20% 10%, 20% 100%
    }

    66% {
        background-size: 20% 100%, 20% 100%, 20% 10%
    }

    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }
}