// your custom styles here

.invert-color {
    filter: invert(100%);
    /* Inverts colors completely */
}

a.nav-link, .navbar {
    transition: all .2s ease;
}

.sticky a.nav-link {
    font-size: 14px;
}

.sticky .navbar {
    --bs-navbar-padding-y: none;
}

a.hover-border {
    position: relative;
}

a.hover-border:hover:before {
    transform: scale(1);
}

a.hover-border::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background: black;
    transition: all 0.5s ease;
    transform: scale(0);
}

.size-full {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
}

.wp-post-image {
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 1s ease;
}

.img-hover-zoom img:hover {
    transform: scale(1.1);
}

.gallery-item {
    width: 100% !important;
}

.bg-black, .bg-dark {
    ::placeholder { /* Standard syntax */
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
    }

    a.hover-border::before {
        background: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
    }
}

.ls-0   { letter-spacing: 0; }
.ls-1   { letter-spacing: 1px; }
.ls-2   { letter-spacing: 2px; }
.ls-3   { letter-spacing: 3px; }
.ls-4   { letter-spacing: 4px; }
.ls-5   { letter-spacing: 5px; }

.horizontal-line {
    position: relative;
}

.horizontal-line::before {
    border-top: .1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#latest-article {
    .section-heading {
        line-height: 24px;
    }
}