@font-face {
    font-family: "roboto";
    src: url("../rrmy-v2/assets/styles/themes/fonts/roboto/fonnts.com-Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "roboto";
    src: url("../rrmy-v2/assets/styles/themes/fonts/roboto/fonnts.com-Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "roboto";
    src: url("../rrmy-v2/assets/styles/themes/fonts/roboto/fonnts.com-Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "roboto";
    src: url("../rrmy-v2/assets/styles/themes/fonts/roboto/fonnts.com-Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap
}

.roboto {
    font-family: roboto, sans-serif;
}